@font-face {
    font-family: LemonMilk;
    src: url('LEMONMILK-Medium.otf');
}
@font-face {
    font-family: LemonMilk;
    font-style: italic;
    src: url('LEMONMILK-MediumItalic.otf');
}
h1 {
font-family: LemonMilk, sans-serif;
text-align: center;
color:#68bdff 
}
h2 {
    font-family: LemonMilk, sans-serif;
    font-style: italic;
}