@font-face {
    font-family: LemonMilk;
    src: url('LEMONMILK-Medium.otf');
}
@font-face {
    font-family: LemonMilk;
    font-style: italic;
    src: url('LEMONMILK-MediumItalic.otf');
}
h1 {
    font-family: LemonMilk, sans-serif;
    text-align: center;
    color:#68bdff;
}
h3 {
    font-family: LemonMilk, sans-serif;
    text-align: center;
    color:#68bdff; 
}
p {
    font-family:  LemonMilk, sans-serif;
    color:#497ba1;
    
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: #dddddd;
    width: 100%;
}
.navbar li {
    font-family: LemonMilk, sans-serif;
    padding: 8px;
    background-color: #dddddd; 
    float: left;
}
.navbar a {
    font-family: LemonMilk, sans-serif;
    text-align: center;
    color:#68bdff; 
    display: block;
    padding: 8px;
    background-color: #dddddd;
}
.header {
    font-family: LemonMilk, sans-serif;
    text-align: center;
    color:#68bdff; 
    padding: 0;
    margin: 0;
}
.header h1,
.header h3 {
    padding: 0;
    margin: 0;
}
.header p {
    margin: 25px 10px;
}
.about {
    font-family:  LemonMilk, sans-serif;
    color:#497ba1;
}
.about h2 {
    text-align: center;
    margin: 0;
}
.border {
    border-bottom: solid;
    width: 200px;
    margin: auto;
    border-color: grey;    
}
.border h6 {
    padding: 0;
    margin: auto;
}