@font-face {
    font-family: LemonMilk;
    src: url('LEMONMILK-Medium.otf');
}
@font-face {
    font-family: LemonMilk;
    font-style: italic;
    src: url('LEMONMILK-MediumItalic.otf');
}
h1 {
    font-family: LemonMilk, sans-serif;
    text-align: center;
    color:#68bdff;
}
h3 {
    font-family: LemonMilk, sans-serif;
    text-align: center;
    color:#68bdff; 
}
p {
    font-family:  LemonMilk, sans-serif;
    color:#497ba1;
    
}
.header {
    font-family: LemonMilk, sans-serif;
    text-align: center;
    color:#68bdff; 
    padding: 0;
    margin: 0;

}
.header h1,
.header h3 {
    padding: 0;
    margin: 0;
}
.header p {
    margin: 25px 10px;
}
.about {
    background-color: white;
}